name: Build (Linux GCC x64)

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:    
    - uses: actions/checkout@v4.2.2
    
    - run: sudo apt install gcc g++ make libsdl2-dev libglu1-mesa libglu1-mesa-dev
    
    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: 'Upload Artifact'
      uses: actions/upload-artifact@v4.6.0
      with:
        name: chronon-release
        path: release/
        retention-days: 30
      
